:root {
    --color: red;
}

.navbar {
    background-color: var(--color)
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: auto;
    margin: auto;
}

.navbar ul li {
    margin: 2px;
    padding: 3px;
}